*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100vw;
}

header{
    height: 10%;
    width: 100%;
    background-color: bisque;
}

footer{
    height: 10vh;
    width: 100vw;
    background-color:bisque;
}

.navbar{
    display: flex;
    justify-content:space-between;
}

.main-container{
    height: 80%;
    width: 100%;
    display: flex;
    background-color: bisque;
}

.sidebar-right{
    width: 20%;
    padding-left: 1rem;
}

.sidebar-left{
    width: 15%;
}

.hide{
    display: none;
}

#canvas{
    width: 65%;
    border: 2px solid black ;
}
